[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
coreapi = "*"
django-filter = "*"
django-guardian = "*"

[dev-packages]
pylint = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
start = "python manage.py runserver"
build = "npm run --prefix eduflox/agents build-dev"
manage = "python manage.py"
