<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eduflox Portal</title>
  <link rel="stylesheet" href="{% static 'agents/css/app.css' %}">
  <!-- Stylesheets -->
  {% block css %}{% endblock %}
</head>

<body>
  <!-- START NAV -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is--brand" href="{% url 'home' %}">
          Eduflox Portal
        </a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          {% if request.resolver_match.url_name == 'home' %}
          <a class="navbar-item is-active">Home</a>
          {% else %}
          <a class="navbar-item" href="{% url 'home' %}">Home</a>
          {% endif %} {% if request.resolver_match.url_name in 'agents.dashboard agents.schools agents.services' %}
          <a class="navbar-item is-active">Agents</a>
          {% else %}
          <a class="navbar-item" href="{% url 'agents.dashboard' %}">Agents</a>
          {% endif %}
          <a class="navbar-item" href="{#% url 'subeb.dashboard' %#}">SUBEB</a>
          {% if not user.authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link navbar-item">Account</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'agents.dashboard' %}">Dashboard</a>
              <a class="navbar-item">Profile</a>
              <a class="navbar-item">Settings</a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
          {% else %}
          <a class="navbar-item" href="{% url 'login' %}">
            Sign In
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
  {% block content %}{% endblock %}

  <!-- Scripts -->
  {% block js %}{% endblock %}
</body>

</html>