{% extends 'agents/base.html' %} {% load static %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}

<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'agents.dashboard' %}">Dashboard</a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">Schools</a>
    </li>
  </ul>
</nav>

{% endblock %}

<!-- Leader -->
{% block leader %}
<i class="mdi mdi-school"></i> Schools
<!---->
{% endblock %}

<!-- Primary content -->
{% block primary %}
<v-app>
  <div class="columns is-multiline">
    <div class="column">
      <v-school/>
    </div>
  </div>
</v-app>
{% endblock %}