{% extends 'agents/columns.html' %} {% load static %}

<!-- Breadcrumbs -->
{% block breadcrumbs %}

<nav class="breadcrumb is-small" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{% url 'home' %}">Home</a>
    </li>
    <li>
      <a href="{% url 'agents.dashboard' %}">Dashboard</a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">Schools</a>
    </li>
  </ul>
</nav>

{% endblock %}

<!-- Leader -->
{% block leader %}
<i class="mdi mdi-school"></i> Schools
<!---->
{% endblock %}

<!-- Primary content -->
{% block primary %}
<div class="columns is-multiline">
  <div id="app" class="column">
    <b-table :data="schools" :columns="columns" :selected.sync="selected" focusable></b-table>
  </div>
</div>
{% endblock %}

<!-- Scripts -->
{% block js %} {{ block.super }}
<script src="{% static '/agents/js/schools.js' %}"></script> {% endblock %}